.row::-webkit-scrollbar{
    display: none;
}

.row{
    display: flex;
    overflow-y: hidden;
}

.img-poster{
    width: 100%;
    max-width: 120px;
    object-fit: contain;
    margin: 4px;
    padding: 18px;
    transition: transform 450ms;
}

.img-poster:hover{
    transform: scale(1.08);
}